<h1><%= article.title %> <small>by <%= article.author.getFullName() %></small></h1>

<p>
  <strong><%= moment(article.createdAt).calendar() %></strong>
</p>

<p><%= article.content %></p>

<hr />

<% article.comments.forEach(c => { %>
  <div>
    <h3> <%= c.name %> </h3>
    <p>
      <%= c.content %>
    </p>
  <% }) %>
  </div>

  <form action="/articles/:id" method="POST">
    <div>
      <label for="name">full name</label>
      <input type="text" class="form-control" id="name" name="name" required>
    </div>
    <div>
      <label for="content">comment</label>
      <input type="text" class="form-control" id="content" name="content" required>
    </div>
    <div>
      <input type="submit" for="submit"></input>

    </div>

  </form>
<a href="/">&larr; Back Home</a>
